body{
 background-color: blue;; 
}
#clear{
 display: block;
 margin: auto;
 width: 400px;
 height: 70px; 
 background-color: red; 
 color: white; 
 font-family: monospace; 
 font-size: 40px; 
 margin-top: 5vh; 
 margin-bottom: 5vh;
}
#grid{
 display: grid;
 width: 960px; 
 height: 800px; 
 border: solid 30px red; 
 margin: auto;

}

.gridBox{
 background-color: white; 
 border : solid 0.5px gray;
}

.colored{
 background-color: black;
 border : solid 0.5px gray; 
}









